<div class="resource_info">
This page will include a form to schedule the publish:


select date/time you want page to publish

submit

warning - you can reschedule; however, will need a developer to cancel.

</div>
